@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  
  --color-primary-base: #0f172a;
  --color-primary-light: #1e293b;
  --color-accent-blue: #3b82f6;
  --color-accent-purple: #8b5cf6;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-primary-base);
  color: #f8fafc;
  overflow-x: hidden;
  cursor: none;
}

a, button, [role="button"], input, select, textarea {
  cursor: none !important;
}

::selection {
  background: var(--color-accent-purple);
  color: white;
}
